<!--
 * @Author: 李佳佳 648411370@qq.com
 * @Date: 2022-08-16 14:40:11
 * @LastEditors: 李佳佳 648411370@qq.com
 * @LastEditTime: 2023-06-30 10:22:28
 * @FilePath: \newVite\src\pages\classify\index.vue
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<script setup lang="ts">
import { reactive, ref, watch, getCurrentInstance } from "vue";
import { NButton } from "naive-ui";
import Children from "./component/children.vue";
import ActionSheet from "./component/ActionSheet.vue";
import Tree from "./component/Tree.vue";
import { useI18n } from "vue-i18n";
const { locale } = useI18n();
const { proxy } = getCurrentInstance();
const changeLang = (lang: string) => {
  locale.value = lang;
  localStorage.setItem("lang", lang);
};

// const theme = {
//   color: "blue",
// };

interface Iperson {
  name: string;
  age: number;
}

type Tperson = Partial<Iperson>;
let person = reactive<Tperson>({});

//测试start
interface newmyonjs {
  age:number
}

type myobj = {
  name:string
} & newmyonjs

// type newmyonjs = myobj & {age:number}
// interface newmyonjs extends myobj {
//   age:number
// }

let aaa:myobj = {
  name:'1111',
  age:11
}



//测试end






let newlist = ref<string[]>();
const fatherClick = (list: number[]) => {
  console.log("list", list);
  newlist.value = list.map(String);
};

const children = ref();
const childrens = ref();

const handleRef = () => {
  console.log("children", children.value.refList.theList);
  childrens.value = children.value.refList.theList;
};

// tree树形结构
type TreeList = {
  name: string;
  icon?: string;
  children?: TreeList[] | [];
};
const data = reactive<TreeList[]>([
  {
    name: "no.1",
    children: [
      {
        name: "no.1-1",
        children: [
          {
            name: "no.1-1-1",
          },
        ],
      },
    ],
  },
  {
    name: "no.2",
    children: [
      {
        name: "no.2-1",
      },
    ],
  },
  {
    name: "no.3",
  },
]);

const ActionSheetIshow = ref(false);
const handleActionSheet = () => {
  ActionSheetIshow.value = true;
};

const childrenVal = ref<string>("初始值");
const theSelect = (val: string) => {
  childrenVal.value = val;
};
</script>

<template>
  <p class="theCss">这是动态样式1</p>
  <n-button @click="changeLang('en')">英文</n-button>
  <n-button @click="changeLang('zh')">中文</n-button>

  <p>{{ $t("login.userName") }}</p>
  <div v-t="'login.password'"></div>

  <Children ref="children" title="我是标题" @handleClick="fatherClick" />

  <div class="twosss" v-for="(items, indexs) in newlist" :key="indexs">
    {{ items }}
  </div>

  <n-button @click="handleRef">用ref获取子组件的值</n-button>

  <div class="onesss" v-for="(items, indexs) in childrens" :key="indexs">
    {{ items.id }}
  </div>

  <div>------------------------------------------------</div>
  <div>这是父组件的值:{{ ActionSheetIshow }}</div>
  <div>这是子组件传给父组件参数:{{ childrenVal }}</div>
  <n-button @click="handleActionSheet">点击打开ActionSheet弹框</n-button>
  <ActionSheet v-model="ActionSheetIshow" :childrenVal="childrenVal" @theSelect="theSelect" />
  
  <Tree :data="data" />
</template>

<style lang="less" scoped>
.theCss {
  background: v-bind("proxy.$theme.color");
  /* font-size: 20px; */
  // background: red;
  color: #fff;
  height: 50px;
  padding: 0;
  margin: 0;
}
</style>
