<script setup lang="ts">
import { Toast } from "vant";
import { reactive } from "vue";
import { useRouter } from "vue-router";
import { storeToRefs } from "pinia";
import { userStore } from "../../store/login/index";
import { userStore as userStoreTab } from "../../store/tabbar/index";
const store = userStore();
const storeTab = userStoreTab();
const router = useRouter();
const { username, password } = storeToRefs(store);
type Iprops = {
  username: string;
  password: string;
};

let loginForm = reactive<Iprops>({
  username: "",
  password: "",
});
// const { username, password } = loginForm;

import { postLogin, getuser } from "../../api";
const handleLogin = () => {
  if (!loginForm.username || !loginForm.password)
    return Toast("请输入账号密码");
  let params = {
    username: loginForm.username,
    password: loginForm.password,
  };
  postLogin(params).then((res) => {
    if (res.code == 200) {
      storeTab.handleChangeTab(0);
      store.handlePinaLogin({ token: res.data.token });
      router.push("/home");
    }
  });
};

const handleGet = () => {
  getuser({ name: "11111" }).then((res) => {
    if (res.code == 200) {
      console.log("res", res);
    }
  });
};
</script>

<template>
  <div>
    <p>
      账号:
      <input type="text" v-model="loginForm.username" />
    </p>
    <p>
      密码:
      <input type="text" v-model="loginForm.password" />
    </p>
  </div>

  <button @click="handleLogin">登录</button>
  <button @click="handleGet">GET請求</button>
</template>

<style lang="less" scoped></style>
