<!--
 * @Author: 李佳佳 648411370@qq.com
 * @Date: 2022-10-08 09:44:04
 * @LastEditors: 李佳佳 648411370@qq.com
 * @LastEditTime: 2023-06-20 15:12:33
 * @FilePath: \newVite\src\pages\classify\component\ActionSheet.vue
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<script setup lang="ts">
import { ref } from "vue";
// defineProps(['modelValue'])
defineProps<{
  modelValue?:Boolean
}>()

const emit = defineEmits(['update:modelValue','theSelect'])

// const show = ref(false);
const actions = [{ name: "选项一" }, { name: "选项二" }, { name: "选项三" }];
const onCancel = () => {
  emit('update:modelValue',false)
};
const handleSelect = (e) => {
  console.log('e', e)
  emit('theSelect',e.name)
}
</script>

<template>
  <div>
    <van-action-sheet
      v-model:show="modelValue"
      :actions="actions"
      cancel-text="取消"
      close-on-click-action
      @cancel="onCancel"
      @close="onCancel"
      @select="handleSelect"
    />
    <div>这是父组件v-model传递的值：{{modelValue}}</div>
  </div>
</template>

<style lang="less" scoped></style>
