<script setup lang="ts">
import { reactive } from "vue";
// defineProps<{
//   title: string;
// }>();

interface Props {
  title: string;
}

withDefaults(defineProps<Props>(), {
  title: "张三",
});
const list = reactive<number[]>([1, 2, 3]);
const emit = defineEmits(["handleClick"]);
const clickTap = () => {
  emit("handleClick", list);
};

interface refProps {
  theList: number[];
}

type TyperData = {
    id:number,
    name?:string,
    type_mission_name?:string
}
interface dataProps {
  theList:TyperData[]
}
// const refList = reactive<refProps>({
const refList = reactive<dataProps>({
  theList: [
    {
      id: 220,
      name: "ym-test-admin",
      // type_mission_name: "渠道后台-授信额度数据",
    },
     {
      id: 2201,
      name: "ym-test-admin1",
      // type_mission_name: "渠道后台-授信额度数据",
    },
  ],
});

defineExpose({
  refList,
});
</script>

<template>
  <div>
    {{ title }}

    <button @click="clickTap">派发给父组件</button>
  </div>
</template>

<style lang="less" scoped></style>
