<script setup lang="ts">
import { computed, inject, ref, Ref } from "vue";
let tab1 = ref("");

const flag = inject<Ref<number>>("flag", ref(1));
const handleChange = () => {
  flag.value += 1;
};

let nums = ref(1);

const Pluse = computed(() => {
  return flag.value + nums.value;
});
</script>

<template>
  <div>
    tab1:
    <input type="text" v-model="tab1" />

    <button @click="handleChange">change Flag</button>
    <div>{{ flag }}</div>
    <div>Pluse:{{ Pluse }}</div>
  </div>
</template>

<style lang="less" scoped></style>
