<script setup lang='ts'>
import {ref} from 'vue'
let tab2 = ref('')
</script>

<template>
    <div>
        tab2:
        <input type="text" v-model="tab2">
    </div>
</template>

<style lang='less' scoped>

</style>