<script setup lang='ts'>
import {ref} from 'vue'
let tab3 = ref('')
</script>

<template>
    <div>
        tab3:
        <input type="text" v-model="tab3">
    </div>
</template>

<style lang='less' scoped>

</style>