<!--
 * @Author: 李佳佳 648411370@qq.com
 * @Date: 2022-08-16 14:40:22
 * @LastEditors: 李佳佳 648411370@qq.com
 * @LastEditTime: 2023-06-29 17:17:32
 * @FilePath: \newVite\src\pages\cart\index.vue
 * @Description: 这是默认设置,请设置`customMade`, 打开koroFileHeader查看配置 进行设置: https://github.com/OBKoro1/koro1FileHeader/wiki/%E9%85%8D%E7%BD%AE
-->
<script setup lang="ts">
import { provide, reactive, ref } from "vue";
import { NButton } from "naive-ui";
import Tab1 from "./component/tab1.vue";
import Tab2 from "./component/tab2.vue";
import Tab3 from "./component/tab3.vue";
let tabVal = ref(1);

type tabProps = {
  id: number;
  name: string;
};
const tab = reactive<tabProps[]>([
  {
    id: 1,
    name: "新闻",
  },
  {
    id: 2,
    name: "消息",
  },
]);
const tab1 = ref<string[]>(["测试1", "测试2", "测试3"]);
const tab3 = ref<string[]>(["测试4", "测试5", "测试6"]);

const handleClick = (item: tabProps) => {
  tabVal.value = item.id;
};

let flag = ref<number>(1);
provide("flag", flag);
</script>

<script lang="ts">
export default {
  name: "Cart",
};
</script>

<template>
  <div class="cartDiv">
    <div
      v-for="item in tab"
      :key="item.id"
      @click="handleClick(item)"
      class="itemDiv"
      :class="tabVal == item.id ? 'active' : ''"
    >
      {{ item.name }}
    </div>
  </div>
  <!-- 缓存组件之间的值 -->
  <keep-alive>
    <Tab1 v-if="tabVal == 1" />
    <Tab2 v-else />
  </keep-alive>



  <Tab3 />
</template>

<style lang="less" scoped>
.cartDiv {
  display: flex;
  .itemDiv {
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    border: 1px solid #3333;
    font-size: 14px;
  }
}

.active {
  color: red;
}
</style>
