<script setup lang='ts'>
const json =
  '{"parent":[{"name":"文件夹1","pid":0,"id":1},{"name":"文件夹2","pid":0,"id":2},{"name":"文件夹3","pid":0,"id":3},{"name":"文件夹1-1","pid":1,"id":4},{"name":"文件夹2-1","pid":2,"id":5}],"child":[{"name":"文件1","pid":1,"id":10001},{"name":"文件2","pid":1,"id":10002},{"name":"文件2-1","pid":2,"id":10003},{"name":"文件2-2","pid":2,"id":10004},{"name":"文件1-1-1","pid":4,"id":10005},{"name":"文件2-1-1","pid":5,"id":10006}]}';
//第一种：（采用两层fiter）
const transformData = (data) => {
  let allData = JSON.parse(JSON.stringify(data));
  var data_new = [...allData.parent, ...allData.child];
  console.log("data_new", data_new);
  var result = data_new.filter((parent) => {
    let findChildren = data_new.filter((child) => {
      return parent.id === child.pid;
    });
    if (findChildren.length > 0) parent.children = findChildren;
    return parent.pid == 0; //返回顶层，依据实际情况判断这里的返回值
  });
  return result;
};
const new_json = JSON.parse(json);
const result = transformData(new_json);
console.log("result", result);
</script>

<template>
  <div>json</div>
</template>

<style lang='less' scoped>
</style>