<script setup lang='ts'>
</script>

<template>
  <div id="water"></div>
</template>

<style lang='less' scoped>
#water {
  margin-left: 30px;
  width: 300px;
  margin-top: 200px;
  height: 300px;
  /* 设置出盒子水滴形状 */
  border-radius: 42% 58% 77% 23% / 40% 31% 69% 60%;
  /* 绘制出水滴阴影效果 */
  box-shadow: inset 10px 20px 30px rgba(0, 0, 0, 0.5),
    10px 10px 20px rgba(0, 0, 0, 0.3), 15px 20px 30px rgba(0, 0, 0, 0.05),
    inset -10px -10px 15px rgba(255, 255, 255, 0.8);
}
#water::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 240px;
  left: 48%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 51% 49% 35% 65% / 40% 54% 46% 60%;
  animation: move 5s linear infinite alternate;
}
#water::before {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  top: 265px;
  left: 47%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 51% 49% 35% 65% / 59% 54% 46% 41%;
}
</style>