<script setup lang="ts">
import { number } from "echarts";
import { storeToRefs } from "pinia";
import { reactive } from "vue";
import { testStroe } from "../../store/test/index";
const store = testStroe();
//store响应式数据结构
const { counter } = storeToRefs(store);
// const theA = reactive({
//   a: 0,
// });
type typeA = {
  a: number;
};
const theA = reactive<typeA>({
  a: 0,
});
theA.a = store.counter;
const handleAdd1 = () => {
  theA.a++;
  store.handleAddConter(theA.a);
};
const handleAdd2 = () => {
  store.counter++;
};
const handleAdd3 = () => {
  store.$patch((state) => {
    state.counter = theA.a += 1;
  });
};

const handleReset = () => {
  store.$reset();
};

interface Iper {
  id: number;
  a?:number,
  // 任意屬性
  [propName:string]:any
}

let vik: Iper = {
  id: 1,
  a:222,
  wwww:'111'
};
</script>

<template>
  <div>
    {{ counter }}
    <van-button type="success" @click="handleAdd1">pinia添加(第1种)</van-button>
    <van-button type="success" @click="handleAdd2">pinia添加(第2种)</van-button>
    <van-button type="success" @click="handleAdd3">pinia添加(第3种)</van-button>
    <van-button type="success" @click="handleReset">pinia重置</van-button>
  </div>
</template>

<style lang="less" scoped></style>
