<script setup lang="ts">
import { postLogin } from "../../api";
import lottie from "lottie-web";
// let params = {
//   list_rows: 10,
//   page: 1,
// };
// postLogin(params).then((res) => {
//   if (res.code == 200) {
//     console.log("res", res);
//   }
// });

import { ref, onMounted } from "vue";
import * as echarts from "echarts";
let makeRandomData = () => {
  return [
    {
      value: Math.random(),
      name: "A",
    },
    {
      value: Math.random(),
      name: "B",
    },
    {
      value: Math.random(),
      name: "C",
    },
    {
      value: Math.random(),
      name: "D",
    },
    {
      value: Math.random(),
      name: "E",
    },
  ];
};
onMounted(() => {
  // 基于准备好的dom，初始化echarts实例
  let myChart = echarts.init(document.getElementById("main") as HTMLElement);
  // 自适应
  window.onresize = function () {
    myChart.resize();
  };
  // 绘制图表
  myChart.setOption({
    series: [
      {
        type: "pie",
        radius: [0, "50%"],
        data: makeRandomData(),
        roseType: "area",
      },
    ],
  });

  setInterval(() => {
    myChart.setOption({
      series: {
        data: makeRandomData(),
      },
    });
  }, 2000);

  // loadAnimation 渲染动画
  const lottieAnimationItem = lottie.loadAnimation({
    // 选取一个容器，用于渲染动画
    container: document.querySelector("#apps"),
    // 定义JSON文件路径
    path: "https://assets10.lottiefiles.com/packages/lf20_l3qxn9jy.json",
    // 是否循环播放
    loop: true,
    // 渲染的格式svg/canvas/html，svg性能更优，兼容性更好
    renderer: "svg",
  });
  console.log("lottieAnimationItem", lottieAnimationItem);
});
</script>

<template>
  <div id="main"></div>
  <!-- 定义动画渲染的容器 -->
  <div id="apps"></div>
</template>

<style lang="less" scoped>
#apps {
  width: 300px;
  height: 300px;
  margin: 0 auto;
}
#main,
html,
body {
  width: 100%;
}
#main {
  height: 400px;
}
</style>
