<script setup lang="ts">
// This starter template is using Vue 3 <script setup> SFCs
// Check out https://vuejs.org/api/sfc-script-setup.html#script-setup
import HelloWorld from "../../components/HelloWorld.vue";
import { NButton } from "naive-ui";

import { reactive, ref, getCurrentInstance } from "vue";
// const { proxy } = getCurrentInstance();
//     console.log(proxy.$root.$route)
//     console.log(proxy.$root.$router)

const childRef = ref<any>();

const getChild = () => {
  // 第三步： 调用子组件的方法或者变量，通过value
  childRef.value.doSth("随便传值！");
};

const theme = {
  color: "red",
};
</script>

<template>
  <HelloWorld ref="childRef" msg="Vite + Vue" />
  <n-button @click="getChild">naive-ui</n-button>


  <van-button type="primary" size="small">主要按钮</van-button>
  <p class="theCss">这是动态样式</p>
  <p>132</p>
</template>

<style scoped>
.theCss {
  color: v-bind("theme.color");
  /* font-size: 20px; */
  background: red;
  color: #fff;
  height: 50px;
}
</style>
