<script setup lang="ts">
import { NButton } from "naive-ui";

import { storeToRefs } from "pinia";
import { ref } from "vue";
import { userStore } from "../store/login";
const store = userStore();
const { name, age } = storeToRefs(store);
console.log('name', name)
defineProps<{ msg: string }>();

const count = ref(0);

let a = 1;
let b = 2;

const doSth = (str: string) => {
  console.log("子组件的 doSth 方法执行了！" + str);
};

const handleAdd = () => {
  store.handleInfo("程芮是jack，小老鼠!");
};

defineExpose({
  a,
  b,
  doSth,
});
</script>

<template>
  <h1>{{ msg + 1 }}</h1>
  <h2>{{ name }}</h2>
  <h2>{{ store.add(1) }}</h2>

  <n-button @click="handleAdd">actions</n-button>
</template>

<style scoped>
.read-the-docs {
  color: #888;
}
</style>
