
<script setup lang='ts'>
import { useRouter } from "vue-router";
import { storeToRefs } from "pinia";
import { userStore } from "../../store/tabbar/index";
import { reactive } from "vue";

const store = userStore();
const { tabActive: active } = storeToRefs(store);

const router = useRouter();

const tabbar = [
  {
    id: 1,
    title: "标签1",
    icon: "home-o",
    name:'Home',
    component: "/home",
  },
  {
    id: 2,
    title: "标签2",
    icon: "search",
    name:'Classify',
    component: "/classify",
  },
  {
    id: 3,
    title: "标签3",
    icon: "friends-o",
    name:'Cart',
    component: "/cart",
  },
  {
    id: 4,
    title: "标签4",
    icon: "setting-o",
    name:'My',
    component: "/my",
  },
];
const handleChangeTab = (index: number) => {
  console.log("index", index);
  tabbar.map((item) => {
    if (item.id == index + 1) {
      store.handleChangeTab(index);
      console.log('item', item)
      router.push(item.component);
      console.log('router', router)
    }
  });
};

interface NameTye {
  actionName:string
}

const Action = reactive<NameTye>({
  actionName:'Home'
})


</script>

<template>
  <!-- <van-tabbar v-model="active" @change="handleChangeTab">
    <van-tabbar-item :icon="item.icon" v-for="item in tabbar" :key="item.id">{{
      item.title
    }}</van-tabbar-item>
  </van-tabbar> -->
  <van-tabbar v-model="Action.actionName" :route="true">
    <van-tabbar-item replace :name="item.name" :to="item.component" :icon="item.icon" v-for="item in tabbar" :key="item.id">{{
      item.title
    }}</van-tabbar-item>
  </van-tabbar>
</template>

<style lang='less' scoped>
</style>