<template>
  <router-view></router-view>
  <!-- <router-view v-slot="{ Component,route }">
    <component :is="Component" v-if="!$route.meta.KeepAlive" />
    <keep-alive>
      <component :is="Component" v-if="$route.meta.KeepAlive" />
    </keep-alive>
  </router-view> -->
</template>