<script setup lang="ts">
import { reactive, ref, watchEffect, watch, computed } from "vue";
import { useRouter } from "vue-router";
import { useDebouncedRef } from "./debouncedRef";

const router = useRouter();
const text = useDebouncedRef("hello");

let nums = ref(1);
let numsAll = reactive([nums]);

console.log("numsAll", numsAll[0].value);
let thenums = reactive({ nums });
console.log("thenums", thenums.nums);

const count = ref(0);
const root = ref(null);
//自动化收集依赖，初始化运行。第一次执行会自动获取依赖
watchEffect(
  () => {
    console.log("count.value0", count.value);
    console.log("root.value", root.value);
  },
  {
    flush: "post", //解决第一次获取root.value的dom是null
  }
);
const handlewatchEffect = () => {
  count.value++;
};

const stopNum = ref(2);
const handlewatchEffectStop = () => {
  stopNum.value++;
};
//watchEffect返回值为一个函数，执行此函数可以停止监听
const stop = watchEffect(() => {
  console.log("stopNum.value", stopNum.value);
  if (stopNum.value == 10) {
    stop();
  }
});
const state = reactive({ count: 0 });
const theref = ref(1);
//watch监听多个数值
watch([() => state.count, theref], ([n, o], [n1, o1]) => {
  // console.log("n", n);
  // console.log("o", o);
  console.log("n1", n1);
  console.log("o1", o1);
});

const handleClick = () => {
  state.count++;
  // theref.value++;
};

const num = reactive({ nums: 1 });
const num1 = ref(2);
const rckonNum = computed(() => {
  return num.nums + num1.value;
});

const handleNumAdd = () => {
  num.nums += 1;
  num1.value += 1;
};

const handelPush = (val:string) => {
  router.push(val);
};
</script>

<template>
  <div ref="root">my</div>
  <van-button type="primary" @click="handlewatchEffect"
    >点击监听watchEffect(flush)</van-button
  >
  <br />
  <van-button type="primary" @click="handlewatchEffectStop"
    >点击监听watchEffect(stop)</van-button
  >
  <br />

  <van-button type="success" @click="handleClick">点击监听watch</van-button>

  <input v-model="text" />
  <div>{{ text }}</div>

  <van-button type="warning" @click="handleNumAdd">点击增加数值</van-button>
  <div>computed数字一：{{ num.nums }}</div>
  <div>computed数字二：{{ num1 }}</div>
  <div>这是computed计算得出:{{ rckonNum }}</div>

  <br />
  <van-button type="success" @click="handelPush('/p5')">点击跳转(水滴)页面</van-button>
    <br />
  <van-button type="success" @click="handelPush('/json')">点击跳转(json)页面</van-button>
      <br />
  <van-button type="success" @click="handelPush('/pinia')">点击跳转([pinia])页面</van-button>
</template>

<style lang="less" scoped></style>
