<script setup lang="ts">
import Tabbar from "./component/Tabbar.vue";
</script>
<template>
  <router-view v-slot="{ Component, route }">
    <keep-alive>
      <component
        :is="Component"
        v-if="route?.meta?.KeepAlive"
        :key="route?.name"
      />
    </keep-alive>
    <component
      :is="Component"
      v-if="!route?.meta?.KeepAlive"
      :key="route?.name"
    />
  </router-view>
  <Tabbar />
</template>